*{
    margin: o;
    padding: 0px;
    box-sizing: border-box;
}
header {
    padding: 16px 0;
    background-color: rgb(92, 28, 28);
    color: rgb(0, 0, 0);
}
ul{
    list-style-position: inside;
}
header nav li {
    display: inline;
    margin: 16px;
    color: #000;
    font-size: 24px;
}
header nav li a {
    color: #000;
    text-decoration: none;
}

.conteiner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
header .conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}